<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZXi1Ux2lcZnXlnj8BZdpKrgviHNB8Ves</string>
	<key>GCM_SENDER_ID</key>
	<string>171083730920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecopoints</string>
	<key>PROJECT_ID</key>
	<string>ecopoints-a4628</string>
	<key>STORAGE_BUCKET</key>
	<string>ecopoints-a4628.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171083730920:ios:b0277ae355643fda48de5d</string>
</dict>
</plist>